.title {
    cursor: pointer;
}

.option {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.break-line {
    white-space: pre-wrap;
}

.container-overflow {
  overflow-y: auto;
  max-height: 300px;
}